<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="1;url=/spot_form" />
    <title>Loading...</title>
    <link rel="apple-touch-icon" type="image/x-icon" sizes="180x180" href="{{ url_for('static', filename='/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" type="image/x-icon" sizes="32x32" href="{{ url_for('static', filename='/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" type="image/x-icon" sizes="16x16" href="{{ url_for('static', filename='/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
    <link href="{{ url_for('static', filename='css/loading.css') }}" rel="stylesheet">
</head>
<body>
<div class="loading">Loading&#8230;</div>
</body>
</html>
